body{
                background-color: rgb(255, 255, 255);
            }
            h1{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            .sonhos{
                list-style: lower-alpha;
            }
            #listar-rivais{
                list-style: lower-alpha;
            }
            .listar-fregues{
                background-color: rgb(255, 255, 255);
            }
            a{
                color: blue;
            }
            img{
                width: 300px;
                border-radius: 1px;
                box-shadow: 0 20px 20px;
            }
            #nome{
                text-align: center;
            }
            .imagens{
                display: flex;
                justify-content: center; /* centraliza horizontalmente */
                gap: 20px;               /* espaço entre as imagens */
                margin-top: 20px;
            }
            #trofeus{
                text-align: center;
            }
            #viagens{
                text-align: center;
            }
            .estadios{
                display: flex;
                justify-content: center; /* centraliza horizontalmente */
                gap: 20px;               /* espaço entre as imagens */
                margin-top: 20px;
            }
            .fotos-lucas{
                height: auto;
                max-width: 100%;
                display: flex;
                justify-content: center; /* centraliza horizontalmente */
                gap: 20px;               /* espaço entre as imagens */
                margin-top: 20px;
            }
            .familia{
                height: auto;
                max-width: 100%;
                display: flex;
                justify-content: center; /* centraliza horizontalmente */
                gap: 20px;               /* espaço entre as imagens */
                margin-top: 20px;
            }
            #futuro{
                text-align: center;
            }